.grid-stack {
  background: transparent;
  border-radius: 10px;
}

.grid-stack-item-content {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0.25em;
}
.grid-stack-item-content .body {
  display: grid;
}

body[data-theme=dark] .grid-stack-item-content {
  background-color: #1e1e1e;
}

.settings {
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
  border-top-left-radius: 10px;
  position: absolute;
  bottom: 1em;
  padding: 0.5em;
  justify-self: end;
}
.settings.on {
  display: grid;
}
.settings .edit {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
  display: grid;
  place-content: center;
  color: #000;
}
.settings .edit:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #00ff00;
}
.settings .remove {
  background-color: rgba(255, 255, 255, 0.1);
}
.settings .remove:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
.settings .remove.on {
  background-color: rgba(255, 0, 0, 0.25);
}

.widget {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.widget_overlay {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#overlay #popup {
  min-width: 36em;
  min-height: 36em;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: min-content auto;
  grid-gap: 1em;
  position: fixed;
  place-self: center;
  text-align: center;
}
#overlay #popup .title {
  grid-row: 1;
  text-align: center;
  font-size: 1em;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  margin: 0em;
}

#widgetList {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}
#widgetList .card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1em;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  aspect-ratio: 1/1;
  width: 10em;
  justify-content: space-around;
}
#widgetList .card .icon {
  place-self: center;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 72px;
  height: 72px;
  background-size: contain;
}
#widgetList .card .btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#widgetList .card .btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
#widgetList .card .title {
  text-align: center;
  font-size: 1em;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  margin: 0em;
}

.editor {
  background-color: rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
  border-top-left-radius: 10px;
  position: absolute;
  display: none;
  bottom: 1em;
  padding: 0.5em;
  justify-self: end;
}
.editor.on {
  display: grid;
}
.editor .add,
.editor .remove,
.editor .save,
.editor .options {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
  display: grid;
  place-content: center;
  color: #000;
}
.editor .add:hover,
.editor .remove:hover,
.editor .save:hover,
.editor .options:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #00ff00;
}
.editor .remove {
  background-color: rgba(255, 255, 255, 0.1);
}
.editor .remove:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
.editor .remove.on {
  background-color: rgba(255, 0, 0, 0.25);
}

/*# sourceMappingURL=Editor.css.map */
