#welcome {
    place-self: center;
    text-align: center;

    h1 {
        font-size: 3em;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: 800;
        margin: 0em;
    }

    h4 {
        font-size: 1.25em;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: 800;
        margin: 0em;
    }

    button {
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 0.5em 1em;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-size: 1.5em;
        margin-top: 1em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.25);
        }
    }
}
